$color1: #ff0000;
.theme {
    .box {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .base {
        background-color: $color1;
    }
    .important {
        background-color: darken($color1, 30%) ;
    }
    .warning {
        background-color: lighten($color1, 30%);
    }
    .pFont{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
        font-weight: 400;
    }
    .sFont {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7em;
        font-weight: 900;
    }
    .shadow {
        border: 1px solid #ddd;
        -webkit-box-shadow: -10px 10px 16px 2px #000000; 
        box-shadow: -10px 10px 16px 2px #000000;
    }
}